alias gst="git status"
alias gcm="git checkout origin/master"
alias gcmm="git checkout origin/main"
alias gds="git diff --staged"
alias gl="git log"
alias gll="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
